<% content_for :head_title do %>
    <% I18n.t "title_page_welcome" %> 
<% end %>
<% content_for :head_description do %>
    <% I18n.t "description_page_welcome" %> 
<% end %>

<% content_for :main do %>
    <div class="box"> 
        <div class="title">
            <h2><%= I18n.t "google_search_title" %></h2>
        </div>

    </div>
    


    
    <div id="main_left" > 

        <%= render :partial => 'news' %>
        <%= render :partial => 'news' %>

    </div>
    <div id="main_right" > 
        <%= render :partial => 'news' %>
        <%= render :partial => 'news' %>

    </div>
<% end %>

<% content_for :sidebar do %>
    <div class="advertisement">
        <%= image_tag("advertisement.png", :alt => "advertisement") %>
    </div>

<% end %>
